<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated input_data -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.cocalimo.smcubes.model.input_data.presentation.Input_dataModelWizardID"
            name="%_UI_Input_dataModelWizard_label"
            class="org.eclipse.efbt.cocalimo.smcubes.model.input_data.presentation.Input_dataModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Input_dataModelFile.gif">
         <description>%_UI_Input_dataModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated input_data -->
      <editor
            id="org.eclipse.efbt.cocalimo.smcubes.model.input_data.presentation.Input_dataEditorID"
            name="%_UI_Input_dataEditor_label"
            icon="icons/full/obj16/Input_dataModelFile.gif"
            extensions="input_data"
            class="org.eclipse.efbt.cocalimo.smcubes.model.input_data.presentation.Input_dataEditor"
            contributorClass="org.eclipse.efbt.cocalimo.smcubes.model.input_data.presentation.Input_dataActionBarContributor">
      </editor>
   </extension>

</plugin>
