{% extends 'base.html' %}
{% load static %}

{% block title %}Create Output Structures{% endblock %}

{% block content %}

<h1 style="text-align: center;">Create Input Structures</h1>
<div class="task-grid">

    <a href="{% url 'agilebird:run_import_non_ref_info' %}" class="task-item">
        <img src="{% static 'images/import_non_ref_info.webp' %}" alt="Non Ref Info icon">
        <span>Import Input Layer From SQLDeveloper</span>
    </a>
    <a href="{% url 'agilebird:run_import_non_ref_info' %}" class="task-item">
        <img src="{% static 'images/import_non_ref_info.webp' %}" alt="Non Ref Info icon">
        <span>Import Logical Data Model From SQLDeveloper</span>
    </a>
    <a href="{% url 'admin:index' %}" class="task-item">
        <img src="{% static 'images/import_non_ref_info.webp' %}" alt="SQLDev icon">
        <span>Create Test Input Data</span>
    </a>

</div>
{% endblock %}