{% extends 'base.html' %}
{% load static %}

{% block title %}AgileBird Home{% endblock %}

{% block content %}
<h1>Home</h1>
<h2>Non-Executable</h2>

<div class="task-grid">
    <a href="{% url 'agilebird:run_import_ref_info_from_sqldev' %}" class="task-item">
        <img src="{% static 'images/import_ref_info.webp' %}" alt="SQLDev icon">
        <span>Create Input Structures</span>
    </a>
    <a href="{% url 'agilebird:create_output_structures' %}" class="task-item">
        <img src="{% static 'images/create_outputs.webp' %}" alt="Concept icon">
        <span>Create Output Structures</span>
    </a>
   
    <a href="{% url 'agilebird:create_logical_transformations' %}" class="task-item">
        <img src="{% static 'images/transformation_meta_data.webp' %}" alt="Concept icon">
        <span>Create Logical Transformations</span>
    </a>

    <a href="{% url 'admin:index' %}" class="task-item">
        <img src="{% static 'images/import_non_ref_info.webp' %}" alt="SQLDev icon">
        <span>Create Test Input Data</span>
    </a>
    <h2>Executable</h2> 
    <a href="{% url 'agilebird:run_create_python_transformations' %}" class="task-item">
        <img src="{% static 'images/executable.webp' %}" alt="Review icon">
        <span>Create/Import Executable Transformations</span>
    </a>
    <a href="{% url 'agilebird:home' %}" class="task-item">
        <img src="{% static 'images/review_checkpoint.webp' %}" alt="Review icon">
        <span>Import Expected Results</span>
    </a>
    <a href="{% url 'agilebird:home' %}" class="task-item">
        <img src="{% static 'images/review_checkpoint.webp' %}" alt="Review icon">
        <span>CHECKPOINT:Run Automated Tests</span>
    </a>
    </a>
    
</div>
{% endblock %}