{% extends 'base.html' %}

{% block content %}
<h1>Edit Input Output Analysis</h1>

<p>Select an option to edit:</p>

<ul>
    <li><a href="{% url 'agilebird:edit_cube_links' %}">Edit Cube Links</a></li>
    <li><a href="{% url 'agilebird:edit_cube_structure_item_links' %}">Edit Cube Structure Item Links</a></li>
    <li><a href="{% url 'agilebird:run_delete_transformation_meta_data' %}">Delete Transformation Metadata</a></li>
</ul>

<p><a href="{% url 'agilebird:home' %}">Back to Home</a></p>
{% endblock %}