<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated lineagefunctions -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.advanced_variable_lineagefunctions.presentation.Advanced_variable_lineagefunctionsModelWizardID"
            name="%_UI_Advanced_variable_lineagefunctionsModelWizard_label"
            class="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.advanced_variable_lineagefunctions.presentation.Advanced_variable_lineagefunctionsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Advanced_variable_lineagefunctionsModelFile.gif">
         <description>%_UI_Advanced_variable_lineagefunctionsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated lineagefunctions -->
      <editor
            id="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.advanced_variable_lineagefunctions.presentation.Advanced_variable_lineagefunctionsEditorID"
            name="%_UI_Advanced_variable_lineagefunctionsEditor_label"
            icon="icons/full/obj16/Advanced_variable_lineagefunctionsModelFile.gif"
            extensions="advanced_variable_lineagefunctions"
            class="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.advanced_variable_lineagefunctions.presentation.Advanced_variable_lineagefunctionsEditor"
            contributorClass="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.advanced_variable_lineagefunctions.presentation.Advanced_variable_lineagefunctionsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated lineagefunctions -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.column_transformation_logic.presentation.Column_transformation_logicModelWizardID"
            name="%_UI_Column_transformation_logicModelWizard_label"
            class="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.column_transformation_logic.presentation.Column_transformation_logicModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Column_transformation_logicModelFile.gif">
         <description>%_UI_Column_transformation_logicModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated lineagefunctions -->
      <editor
            id="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.column_transformation_logic.presentation.Column_transformation_logicEditorID"
            name="%_UI_Column_transformation_logicEditor_label"
            icon="icons/full/obj16/Column_transformation_logicModelFile.gif"
            extensions="column_transformation_logic"
            class="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.column_transformation_logic.presentation.Column_transformation_logicEditor"
            contributorClass="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.column_transformation_logic.presentation.Column_transformation_logicActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated lineagefunctions -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.data_lineage_functions.presentation.Data_lineage_functionsModelWizardID"
            name="%_UI_Data_lineage_functionsModelWizard_label"
            class="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.data_lineage_functions.presentation.Data_lineage_functionsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Data_lineage_functionsModelFile.gif">
         <description>%_UI_Data_lineage_functionsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated lineagefunctions -->
      <editor
            id="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.data_lineage_functions.presentation.Data_lineage_functionsEditorID"
            name="%_UI_Data_lineage_functionsEditor_label"
            icon="icons/full/obj16/Data_lineage_functionsModelFile.gif"
            extensions="data_lineage_functions"
            class="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.data_lineage_functions.presentation.Data_lineage_functionsEditor"
            contributorClass="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.data_lineage_functions.presentation.Data_lineage_functionsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated lineagefunctions -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.smcubes_functions.presentation.Smcubes_functionsModelWizardID"
            name="%_UI_Smcubes_functionsModelWizard_label"
            class="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.smcubes_functions.presentation.Smcubes_functionsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Smcubes_functionsModelFile.gif">
         <description>%_UI_Smcubes_functionsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated lineagefunctions -->
      <editor
            id="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.smcubes_functions.presentation.Smcubes_functionsEditorID"
            name="%_UI_Smcubes_functionsEditor_label"
            icon="icons/full/obj16/Smcubes_functionsModelFile.gif"
            extensions="smcubes_functions"
            class="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.smcubes_functions.presentation.Smcubes_functionsEditor"
            contributorClass="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.smcubes_functions.presentation.Smcubes_functionsActionBarContributor">
      </editor>
   </extension>

</plugin>
