<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated trl -->
      <package
            uri="http://www.eclipse.org/efbt/domain_model_mapping"
            class="org.eclipse.efbt.cocamo.trl.model.domain_model_mapping.Domain_model_mappingPackage"
            genModel="model/trl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated trl -->
      <package
            uri="http://www.eclipse.org/efbt/transformation"
            class="org.eclipse.efbt.cocamo.trl.model.transformation.TransformationPackage"
            genModel="model/trl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated trl -->
      <parser
            type="transformation"
            class="org.eclipse.efbt.cocamo.trl.model.transformation.util.TransformationResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated trl -->
      <package
            uri="http://www.eclipse.org/efbt/trl_report_cell_views"
            class="org.eclipse.efbt.cocamo.trl.model.trl_report_cell_views.Trl_report_cell_viewsPackage"
            genModel="model/trl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated trl -->
      <parser
            type="trl_report_cell_views"
            class="org.eclipse.efbt.cocamo.trl.model.trl_report_cell_views.util.Trl_report_cell_viewsResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated trl -->
      <package
            uri="http://www.eclipse.org/efbt/trl_sql_views"
            class="org.eclipse.efbt.cocamo.trl.model.trl_sql_views.Trl_sql_viewsPackage"
            genModel="model/trl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated trl -->
      <parser
            type="trl_sql_views"
            class="org.eclipse.efbt.cocamo.trl.model.trl_sql_views.util.Trl_sql_viewsResourceFactoryImpl"/>
   </extension>

</plugin>
