<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cocamo -->
      <package
            uri="http://www.eclipse.org/efbt/cocamo"
            class="org.eclipse.efbt.cocamo.smcubes.model.cocamo.CocamoPackage"
            genModel="model/cocamo.genmodel"/>
   </extension>

</plugin>
