<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated requirements_text -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.cocalimo.core.model.requirements_text.presentation.Requirements_textModelWizardID"
            name="%_UI_Requirements_textModelWizard_label"
            class="org.eclipse.efbt.cocalimo.core.model.requirements_text.presentation.Requirements_textModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Requirements_textModelFile.gif">
         <description>%_UI_Requirements_textModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated requirements_text -->
      <editor
            id="org.eclipse.efbt.cocalimo.core.model.requirements_text.presentation.Requirements_textEditorID"
            name="%_UI_Requirements_textEditor_label"
            icon="icons/full/obj16/Requirements_textModelFile.gif"
            extensions="requirements_text"
            class="org.eclipse.efbt.cocalimo.core.model.requirements_text.presentation.Requirements_textEditor"
            contributorClass="org.eclipse.efbt.cocalimo.core.model.requirements_text.presentation.Requirements_textActionBarContributor">
      </editor>
   </extension>

</plugin>
