<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<!--
    Copyright (c) 2020 Bird Software Solutions Ltd
    This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
       Neil Mackenzie - initial API and implementation
 -->

<plugin>	
	<extension
          point="org.eclipse.ui.newWizards">
       <category 
            id="org.eclipse.efbt.Examples"
            name="EFBT Example"
            parentCategory="org.eclipse.ui.Examples" />
       <wizard
             category="org.eclipse.ui.Examples/org.eclipse.efbt.Examples"
             class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
             icon="icons/EObject.gif"
             id="org.eclipse.efbt.wizard.EFBTExampleWizard"
             name="EFBT Example"
             project="true">
       </wizard>      
    </extension>
       <extension point="org.eclipse.emf.common.ui.examples">
        <example wizardID="org.eclipse.efbt.wizard.EFBTExampleWizard" pageImage="icons/EObject.gif">
            <projectDescriptor name="org.eclipse.efbt.example.frtb" contentURI="examples/org.eclipse.efbt.example.frtb/" description="FRTB LDM Example"/> 
            <projectDescriptor name="org.eclipse.efbt.example.frtb_cutdown" contentURI="examples/org.eclipse.efbt.example.frtb_cutdown/" description="FRTB LDM Cut Down Example"/>  
            <projectDescriptor name="org.eclipse.efbt.example.finrep" contentURI="examples/org.eclipse.efbt.example.finrep/" description="FINREP Example"/>    
        </example>
    </extension>
  
</plugin>
