<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated dtm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.language.dtm.model.domain_model_mapping.presentation.Domain_model_mappingModelWizardID"
            name="%_UI_Domain_model_mappingModelWizard_label"
            class="org.eclipse.efbt.language.dtm.model.domain_model_mapping.presentation.Domain_model_mappingModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Domain_model_mappingModelFile.gif">
         <description>%_UI_Domain_model_mappingModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated dtm -->
      <editor
            id="org.eclipse.efbt.language.dtm.model.domain_model_mapping.presentation.Domain_model_mappingEditorID"
            name="%_UI_Domain_model_mappingEditor_label"
            icon="icons/full/obj16/Domain_model_mappingModelFile.gif"
            extensions="domain_model_mapping"
            class="org.eclipse.efbt.language.dtm.model.domain_model_mapping.presentation.Domain_model_mappingEditor"
            contributorClass="org.eclipse.efbt.language.dtm.model.domain_model_mapping.presentation.Domain_model_mappingActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated dtm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.language.dtm.model.transformation.presentation.TransformationModelWizardID"
            name="%_UI_TransformationModelWizard_label"
            class="org.eclipse.efbt.language.dtm.model.transformation.presentation.TransformationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TransformationModelFile.gif">
         <description>%_UI_TransformationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated dtm -->
      <editor
            id="org.eclipse.efbt.language.dtm.model.transformation.presentation.TransformationEditorID"
            name="%_UI_TransformationEditor_label"
            icon="icons/full/obj16/TransformationModelFile.gif"
            extensions="transformation"
            class="org.eclipse.efbt.language.dtm.model.transformation.presentation.TransformationEditor"
            contributorClass="org.eclipse.efbt.language.dtm.model.transformation.presentation.TransformationActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated dtm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.language.dtm.model.dtm_report_cell_views.presentation.dtm_report_cell_viewsModelWizardID"
            name="%_UI_dtm_report_cell_viewsModelWizard_label"
            class="org.eclipse.efbt.language.dtm.model.dtm_report_cell_views.presentation.dtm_report_cell_viewsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/dtm_report_cell_viewsModelFile.gif">
         <description>%_UI_dtm_report_cell_viewsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated dtm -->
      <editor
            id="org.eclipse.efbt.language.dtm.model.dtm_report_cell_views.presentation.dtm_report_cell_viewsEditorID"
            name="%_UI_dtm_report_cell_viewsEditor_label"
            icon="icons/full/obj16/dtm_report_cell_viewsModelFile.gif"
            extensions="dtm_report_cell_views"
            class="org.eclipse.efbt.language.dtm.model.dtm_report_cell_views.presentation.dtm_report_cell_viewsEditor"
            contributorClass="org.eclipse.efbt.language.dtm.model.dtm_report_cell_views.presentation.dtm_report_cell_viewsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated dtm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.language.dtm.model.dtm_views.presentation.dtm_viewsModelWizardID"
            name="%_UI_dtm_viewsModelWizard_label"
            class="org.eclipse.efbt.language.dtm.model.dtm_views.presentation.dtm_viewsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/dtm_viewsModelFile.gif">
         <description>%_UI_dtm_viewsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated dtm -->
      <editor
            id="org.eclipse.efbt.language.dtm.model.dtm_views.presentation.dtm_viewsEditorID"
            name="%_UI_dtm_viewsEditor_label"
            icon="icons/full/obj16/dtm_viewsModelFile.gif"
            extensions="dtm_views"
            class="org.eclipse.efbt.language.dtm.model.dtm_views.presentation.dtm_viewsEditor"
            contributorClass="org.eclipse.efbt.language.dtm.model.dtm_views.presentation.dtm_viewsActionBarContributor">
      </editor>
   </extension>

</plugin>
