<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
    Copyright (c) 2020 Bird Software Solutions Ltd
    This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
       Neil Mackenzie - initial API and implementation
 -->

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated attribute_lineage -->
      <package
            uri="http://www.eclipse.org/efbt/attribute_lineage"
            class="org.eclipse.efbt.lineage.attributelineage.model.attribute_lineage.Attribute_lineagePackage"
            genModel="model/attribute_lineage.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated attribute_lineage -->
      <parser
            type="attribute_lineage"
            class="org.eclipse.efbt.lineage.attributelineage.model.attribute_lineage.util.Attribute_lineageResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated attribute_lineage -->
      <package
            uri="http://www.eclipse.org/efbt/cube_transformation_logic"
            class="org.eclipse.efbt.lineage.attributelineage.model.cube_transformation_logic.Cube_transformation_logicPackage"
            genModel="model/attribute_lineage.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated attribute_lineage -->
      <package
            uri="http://www.eclipse.org/efbt/incremental_row_transformation_logic"
            class="org.eclipse.efbt.lineage.attributelineage.model.incremental_row_transformation_logic.Incremental_row_transformation_logicPackage"
            genModel="model/attribute_lineage.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated attribute_lineage -->
      <parser
            type="incremental_row_transformation_logic"
            class="org.eclipse.efbt.lineage.attributelineage.model.incremental_row_transformation_logic.util.Incremental_row_transformation_logicResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated attribute_lineage -->
      <package
            uri="http://www.eclipse.org/efbt/row_transformation_logic"
            class="org.eclipse.efbt.lineage.attributelineage.model.row_transformation_logic.Row_transformation_logicPackage"
            genModel="model/attribute_lineage.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated attribute_lineage -->
      <parser
            type="row_transformation_logic"
            class="org.eclipse.efbt.lineage.attributelineage.model.row_transformation_logic.util.Row_transformation_logicResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated attribute_lineage -->
      <package
            uri="http://www.eclipse.org/efbt/advanced_row_transformation_logic"
            class="org.eclipse.efbt.lineage.attributelineage.model.advanced_row_transformation_logic.Advanced_row_transformation_logicPackage"
            genModel="model/attribute_lineage.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated attribute_lineage -->
      <parser
            type="advanced_row_transformation_logic"
            class="org.eclipse.efbt.lineage.attributelineage.model.advanced_row_transformation_logic.util.Advanced_row_transformation_logicResourceFactoryImpl"/>
   </extension>

</plugin>
