<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension-point id="properties" name="EMF ESON UI Properties view" schema="schema/properties.exsd"/>

	<!-- This is our new Editor, including the (editable! right-click New... + Properties!) tree -->
    <extension point="org.eclipse.ui.editors">
        <editor
            id="org.eclipse.emf.eson.ui.editor.tree.EFactoryWithTreeEditor"
            name="ESON Editor (with Tree)"
            class="org.eclipse.emf.eson.ui.EFactoryExecutableExtensionFactory:org.eclipse.emf.eson.ui.editor.tree.EFactoryWithTreeEditor"
            contributorClass="org.eclipse.emf.eson.ui.editor.tree.ActionBarContributor"
            default="true"
            extensions="efactory,coca">
        </editor>
    </extension>

   <!-- This is the original Xtext pure DSL (no tree) Editor -->
   <extension point="org.eclipse.ui.editors">
        <editor
            id="org.eclipse.emf.eson.EFactory"
            name="ESON Editor (just DSL text)"
            class="org.eclipse.emf.eson.ui.EFactoryExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="false"
            extensions="efactory,coca">
        </editor>
    </extension>
    
	<!-- ====================================================================================================== -->
	
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="org.eclipse.emf.eson.ui.EFactoryExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="org.eclipse.emf.eson.EFactory.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="org.eclipse.emf.eson.ui.EFactoryExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="org.eclipse.emf.eson.EFactory.validate">
         <activeWhen>
            <reference
                    definitionId="org.eclipse.emf.eson.EFactory.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
	  	<!-- copy qualified name -->
	    <handler
	        class="org.eclipse.emf.eson.ui.EFactoryExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
	        commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
	        <activeWhen>
				<reference definitionId="org.eclipse.emf.eson.EFactory.Editor.opened" />
	        </activeWhen>
	    </handler>
        <handler
            class="org.eclipse.emf.eson.ui.EFactoryExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
            <activeWhen>
            	<and>
            		<reference definitionId="org.eclipse.emf.eson.EFactory.XtextEditor.opened" />
	                <iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
            </activeWhen>
        </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="org.eclipse.emf.eson.EFactory.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.eclipse.emf.eson.EFactory" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
        <definition id="org.eclipse.emf.eson.EFactory.XtextEditor.opened">
            <and>
                <reference definitionId="isXtextEditorActive"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.eclipse.emf.eson.EFactory" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="org.eclipse.emf.eson.ui.EFactoryExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.eclipse.emf.eson.EFactory"
            name="ESON">
            <keywordReference id="org.eclipse.emf.eson.ui.keyword_EFactory"/>
        </page>
        <page
            category="org.eclipse.emf.eson.EFactory"
            class="org.eclipse.emf.eson.ui.EFactoryExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="org.eclipse.emf.eson.EFactory.coloring"
            name="Syntax Coloring">
            <keywordReference id="org.eclipse.emf.eson.ui.keyword_EFactory"/>
        </page>
        <page
            category="org.eclipse.emf.eson.EFactory"
            class="org.eclipse.emf.eson.ui.EFactoryExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="org.eclipse.emf.eson.EFactory.templates"
            name="Templates">
            <keywordReference id="org.eclipse.emf.eson.ui.keyword_EFactory"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="org.eclipse.emf.eson.ui.EFactoryExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.eclipse.emf.eson.EFactory"
            name="ESON">
            <keywordReference id="org.eclipse.emf.eson.ui.keyword_EFactory"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="org.eclipse.emf.eson.ui.keyword_EFactory"
            label="ESON"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="org.eclipse.emf.eson.EFactory.validate"
            name="Validate">
      </command>
      <!-- copy qualified name -->
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
      
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.eclipse.emf.eson.EFactory.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="org.eclipse.emf.eson.EFactory.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
         <!-- copy qualified name -->
         <menuContribution locationURI="popup:#TextEditorContext?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName" 
         		style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="org.eclipse.emf.eson.EFactory.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="menu:edit?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            	style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="org.eclipse.emf.eson.EFactory.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName" 
				style="push" tooltip="Copy Qualified Name">
         		<visibleWhen checkEnabled="false">
	            	<and>
	            		<reference definitionId="org.eclipse.emf.eson.EFactory.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="org.eclipse.emf.eson.EFactory.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="org.eclipse.emf.eson.ui.EFactoryExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="org.eclipse.emf.eson.EFactory.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

	<!-- adding resource factories -->
	<!-- *.efactory -->
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.eclipse.emf.eson.ui.EFactoryExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="efactory">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.eclipse.emf.eson.ui.EFactoryExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="efactory">
        </resourceServiceProvider>
    </extension>
    <!-- *.eson -->
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.eclipse.emf.eson.ui.EFactoryExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="coca">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.eclipse.emf.eson.ui.EFactoryExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="coca">
        </resourceServiceProvider>
    </extension>

    <!-- marker definitions for org.eclipse.emf.eson.EFactory -->
    <extension
            id="efactory.check.fast"
            name="ESON Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.fast"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="efactory.check.normal"
            name="ESON Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.normal"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="efactory.check.expensive"
            name="ESON Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.expensive"/>
        <persistent value="true"/>
    </extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.eclipse.emf.eson.ui.EFactoryExecutableExtensionFactory:org.eclipse.emf.eson.ui.outline.QuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.eclipse.emf.eson.EFactory.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.eclipse.emf.eson.EFactory.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	
    <!-- quickfix marker resolution generator for org.eclipse.emf.eson.EFactory -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="org.eclipse.emf.eson.ui.EFactoryExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.eclipse.emf.eson.ui.efactory.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="org.eclipse.emf.eson.ui.EFactoryExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.eclipse.emf.eson.ui.efactory.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="org.eclipse.emf.eson.ui.EFactoryExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.eclipse.emf.eson.ui.efactory.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="org.eclipse.emf.eson.ui.EFactoryExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="org.eclipse.emf.eson.EFactory.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="org.eclipse.emf.eson.EFactory.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	    <page
	        category="org.eclipse.emf.eson.EFactory"
	        class="org.eclipse.emf.eson.ui.EFactoryExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
	        id="org.eclipse.emf.eson.EFactory.refactoring"
	        name="Refactoring">
	        <keywordReference id="org.eclipse.emf.eson.ui.keyword_EFactory"/>
	    </page>
	</extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="org.eclipse.emf.eson.EFactory.compare.contentViewers"
            class="org.eclipse.emf.eson.ui.EFactoryExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="efactory,coca">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="org.eclipse.emf.eson.EFactory.compare.contentMergeViewers"
            class="org.eclipse.emf.eson.ui.EFactoryExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="efactory,coca" label="ESON Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="org.eclipse.emf.eson.EFactory.editors.documentProviders"
            class="org.eclipse.emf.eson.ui.EFactoryExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="efactory,coca">
    </provider>
  </extension>
  <extension point="org.eclipse.team.core.fileTypes">
    <fileTypes
            extension="efactory"
            type="text">
    </fileTypes>
    <fileTypes
            extension="coca"
            type="text">
    </fileTypes>
  </extension>
   <!-- Builder here is hand-written, not from plug.xml_gen
        Normally this is autoamtically available (from.. where?) and just works OOB - I had to add it - maybe because EFactory isn't Xbase derrived?!
        Never mind what the cause - it works now (it needed this, plus registring the EFactoryGenerator in the EFactoryRuntimeModule) 
   -->
   <extension point="org.eclipse.xtext.builder.participant">
        <participant class="org.eclipse.emf.eson.ui.EFactoryExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant">
        </participant>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
        <page
            category="org.eclipse.emf.eson.EFactory"
            class="org.eclipse.emf.eson.ui.EFactoryExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="org.eclipse.emf.eson.EFactory.compiler.preferencePage"
            name="Compiler">
            <keywordReference id="org.eclipse.emf.eson.ui.keyword_EFactory"/>
        </page>
    </extension>
    <extension point="org.eclipse.ui.propertyPages">
        <page
            category="org.eclipse.emf.eson.EFactory"
            class="org.eclipse.emf.eson.ui.EFactoryExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="org.eclipse.emf.eson.EFactory.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="org.eclipse.emf.eson.ui.keyword_EFactory"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
          point="org.eclipse.ui.contexts">
       <context
             description="ESON"
             id="org.eclipse.emf.eson.ui.context"
             name="ESON"
             parentId="org.eclipse.xtext.ui.XtextEditorScope">
       </context>
    </extension>
    <extension
          point="org.eclipse.ui.newWizards">
       <category 
            id="org.eclipse.efbt.cocason.ui.Examples"
            name="C"
            parentCategory="org.eclipse.ui.Examples" />
       <wizard
             category="org.eclipse.ui.Examples/org.eclipse.efbt.cocason.ui.Examples"
             class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
             icon="icons/EObject.gif"
             id="org.eclipse.efbt.cocason.ui.wizard.CocasonExampleWizard"
             name="CoCaSon Example"
             project="true">
       </wizard>
       <wizard
             class="org.eclipse.emf.eson.ui.wizard.EFactoryNewFileWizard"
             icon="icons/EObject.gif"
             id="org.eclipse.emf.eson.ui.wizard.EFactoryNewFileWizard"
             name="New ESON File">
       </wizard>
    </extension>
   <extension point="org.eclipse.emf.common.ui.examples">
        <example wizardID="org.eclipse.efbt.cocason.ui.wizard.CocasonExampleWizard" pageImage="icons/genproject.gif">
            <projectDescriptor name="org.eclipse.efbt.cocason.example.example1" contentURI="examples/org.eclipse.efbt.cocason.example.example1/" description="CoCaSon Example"/>           
            <fileToOpen location="org.eclipse.emf.eson.example.example1/src/members.coca"/>           
        </example>
    </extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.emf.eson.ui.editor.tree.EFactoryWithTreeEditor">
         <propertyCategory
               category="esonproperty"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.emf.eson.ui.editor.tree.EFactoryWithTreeEditor">
         <propertyTab
               category="esonproperty"
               id="Basic"
               label="Basic">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.emf.eson.ui.editor.tree.EFactoryWithTreeEditor">
         <propertySection
               class="org.eclipse.emf.eson.ui.EFactoryExecutableExtensionFactory:org.eclipse.emf.eson.ui.properties.ESONBasicPropertySection"
               filter="org.eclipse.emf.eson.ui.properties.ESONBasicPropertySectionFilter"
               id="org.eclipse.emf.eson.ui.defaultSection"
               tab="Basic">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
