<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <!-- NOTE org.eclipse.emf.eson.tests is a Fragment, not a Plugin,
             therefore whatever is here must go into ./fragment.xml !!! -->

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TestModel -->
      <package
            uri="testmodel"
            class="testmodel.TestmodelPackage"
            genModel="model/TestModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TestModel -->
      <package
            uri="testmodel.testsubmodel"
            class="testmodel.testsubmodel.TestsubmodelPackage"
            genModel="model/TestModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TestModel -->
      <package
            uri="http://testmodel/subWithTraditionalURI/1.0"
            class="testmodel.testsubmodelWithTraditionalURI.TestsubmodelWithTraditionalURIPackage"
            genModel="model/TestModel.genmodel"/>
   </extension>

   <extension
         point="org.eclipse.emf.eson.generator">
      <generator
            class="org.eclipse.emf.eson.generators.tests.TestGenerator">
      </generator>
   </extension>
   <extension
         point="org.eclipse.emf.eson.file">
      <additionalFileExtension
            extensions="testmodel , tm ">
      </additionalFileExtension>
   </extension>

</plugin>
