<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated smcubes -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.cocalimo.smcubes.model.core.presentation.CoreModelWizardID"
            name="%_UI_CoreModelWizard_label"
            class="org.eclipse.efbt.cocalimo.smcubes.model.core.presentation.CoreModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CoreModelFile.gif">
         <description>%_UI_CoreModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated smcubes -->
      <editor
            id="org.eclipse.efbt.cocalimo.smcubes.model.core.presentation.CoreEditorID"
            name="%_UI_CoreEditor_label"
            icon="icons/full/obj16/CoreModelFile.gif"
            extensions="core"
            class="org.eclipse.efbt.cocalimo.smcubes.model.core.presentation.CoreEditor"
            contributorClass="org.eclipse.efbt.cocalimo.smcubes.model.core.presentation.CoreActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated smcubes -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.cocalimo.smcubes.model.data_definition.presentation.Data_definitionModelWizardID"
            name="%_UI_Data_definitionModelWizard_label"
            class="org.eclipse.efbt.cocalimo.smcubes.model.data_definition.presentation.Data_definitionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Data_definitionModelFile.gif">
         <description>%_UI_Data_definitionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated smcubes -->
      <editor
            id="org.eclipse.efbt.cocalimo.smcubes.model.data_definition.presentation.Data_definitionEditorID"
            name="%_UI_Data_definitionEditor_label"
            icon="icons/full/obj16/Data_definitionModelFile.gif"
            extensions="data_definition"
            class="org.eclipse.efbt.cocalimo.smcubes.model.data_definition.presentation.Data_definitionEditor"
            contributorClass="org.eclipse.efbt.cocalimo.smcubes.model.data_definition.presentation.Data_definitionActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated smcubes -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.cocalimo.smcubes.model.mapping.presentation.MappingModelWizardID"
            name="%_UI_MappingModelWizard_label"
            class="org.eclipse.efbt.cocalimo.smcubes.model.mapping.presentation.MappingModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MappingModelFile.gif">
         <description>%_UI_MappingModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated smcubes -->
      <editor
            id="org.eclipse.efbt.cocalimo.smcubes.model.mapping.presentation.MappingEditorID"
            name="%_UI_MappingEditor_label"
            icon="icons/full/obj16/MappingModelFile.gif"
            extensions="mapping"
            class="org.eclipse.efbt.cocalimo.smcubes.model.mapping.presentation.MappingEditor"
            contributorClass="org.eclipse.efbt.cocalimo.smcubes.model.mapping.presentation.MappingActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated smcubes -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.cocalimo.smcubes.model.rendering.presentation.RenderingModelWizardID"
            name="%_UI_RenderingModelWizard_label"
            class="org.eclipse.efbt.cocalimo.smcubes.model.rendering.presentation.RenderingModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RenderingModelFile.gif">
         <description>%_UI_RenderingModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated smcubes -->
      <editor
            id="org.eclipse.efbt.cocalimo.smcubes.model.rendering.presentation.RenderingEditorID"
            name="%_UI_RenderingEditor_label"
            icon="icons/full/obj16/RenderingModelFile.gif"
            extensions="rendering"
            class="org.eclipse.efbt.cocalimo.smcubes.model.rendering.presentation.RenderingEditor"
            contributorClass="org.eclipse.efbt.cocalimo.smcubes.model.rendering.presentation.RenderingActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated smcubes -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.cocalimo.smcubes.model.cocalimo_smcubes_extension.presentation.Cocalimo_smcubes_extensionModelWizardID"
            name="%_UI_Cocalimo_smcubes_extensionModelWizard_label"
            class="org.eclipse.efbt.cocalimo.smcubes.model.cocalimo_smcubes_extension.presentation.Cocalimo_smcubes_extensionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Cocalimo_smcubes_extensionModelFile.gif">
         <description>%_UI_Cocalimo_smcubes_extensionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated smcubes -->
      <editor
            id="org.eclipse.efbt.cocalimo.smcubes.model.cocalimo_smcubes_extension.presentation.Cocalimo_smcubes_extensionEditorID"
            name="%_UI_Cocalimo_smcubes_extensionEditor_label"
            icon="icons/full/obj16/Cocalimo_smcubes_extensionModelFile.gif"
            extensions="cocalimo_smcubes_extension"
            class="org.eclipse.efbt.cocalimo.smcubes.model.cocalimo_smcubes_extension.presentation.Cocalimo_smcubes_extensionEditor"
            contributorClass="org.eclipse.efbt.cocalimo.smcubes.model.cocalimo_smcubes_extension.presentation.Cocalimo_smcubes_extensionActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated smcubes -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.cocalimo.smcubes.model.data_meta_model.presentation.Data_meta_modelModelWizardID"
            name="%_UI_Data_meta_modelModelWizard_label"
            class="org.eclipse.efbt.cocalimo.smcubes.model.data_meta_model.presentation.Data_meta_modelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Data_meta_modelModelFile.gif">
         <description>%_UI_Data_meta_modelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated smcubes -->
      <editor
            id="org.eclipse.efbt.cocalimo.smcubes.model.data_meta_model.presentation.Data_meta_modelEditorID"
            name="%_UI_Data_meta_modelEditor_label"
            icon="icons/full/obj16/Data_meta_modelModelFile.gif"
            extensions="data_meta_model"
            class="org.eclipse.efbt.cocalimo.smcubes.model.data_meta_model.presentation.Data_meta_modelEditor"
            contributorClass="org.eclipse.efbt.cocalimo.smcubes.model.data_meta_model.presentation.Data_meta_modelActionBarContributor">
      </editor>
   </extension>

</plugin>
