<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated library -->
      <package
            uri="org.eclipse.emf.eson.example.library"
            class="org.eclipse.emf.eson.example.library.LibraryPackage"
            genModel="model/library.xcore"/>
   </extension>
   <extension
         point="org.eclipse.emf.eson.generator">
      <generator
            class="org.eclipse.emf.eson.example.library.generator.Generator">
      </generator>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sub-library -->
      <package
            uri="org.eclipse.emf.eson.example.library.subpackage"
            class="org.eclipse.emf.eson.example.library.subpackage.SubpackagePackage"
            genModel="model/sub-library.xcore"/>
   </extension>

</plugin>
