<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated sql_lite -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.cocalimo.computation.model.sql_lite.presentation.Sql_liteModelWizardID"
            name="%_UI_Sql_liteModelWizard_label"
            class="org.eclipse.efbt.cocalimo.computation.model.sql_lite.presentation.Sql_liteModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Sql_liteModelFile.gif">
         <description>%_UI_Sql_liteModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated sql_lite -->
      <editor
            id="org.eclipse.efbt.cocalimo.computation.model.sql_lite.presentation.Sql_liteEditorID"
            name="%_UI_Sql_liteEditor_label"
            icon="icons/full/obj16/Sql_liteModelFile.gif"
            extensions="sql_lite"
            class="org.eclipse.efbt.cocalimo.computation.model.sql_lite.presentation.Sql_liteEditor"
            contributorClass="org.eclipse.efbt.cocalimo.computation.model.sql_lite.presentation.Sql_liteActionBarContributor">
      </editor>
   </extension>

</plugin>
