<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated functions -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.functions.presentation.FunctionsModelWizardID"
            name="%_UI_FunctionsModelWizard_label"
            class="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.functions.presentation.FunctionsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FunctionsModelFile.gif">
         <description>%_UI_FunctionsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated functions -->
      <editor
            id="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.functions.presentation.FunctionsEditorID"
            name="%_UI_FunctionsEditor_label"
            icon="icons/full/obj16/FunctionsModelFile.gif"
            extensions="functions"
            class="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.functions.presentation.FunctionsEditor"
            contributorClass="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.functions.presentation.FunctionsActionBarContributor">
      </editor>
   </extension>

</plugin>
