<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.eclipse.efbt.controller.ui.sirius.Activator"
               id="org.eclipse.efbt.controller.ui.sirius"
	       name="efbt">
    </component>
  </extension>
</plugin>
