{% extends 'base.html' %}
{% load static %}

{% block title %}BIRD AI Home{% endblock %}

{% block content %}
<h1 style="text-align: center;">Home</h1>
<div class="task-grid">
    <a href="{% url 'birdai:input_model' %}" class="task-item">
        <img src="{% static 'images/input_model.webp' %}" alt="Concept icon">
        <span>Input Data Model</span>
    </a>
    <a href="{% url 'birdai:home' %}" class="task-item">
        <img src="{% static 'images/transformation.webp' %}" alt="Concept icon">
        <span>Derivation Transformations</span>
    </a>
    <a href="{% url 'birdai:filters' %}" class="task-item">
        <img src="{% static 'images/filters.webp' %}" alt="Concept icon">
        <span>Filters</span>
    </a>
    <a href="{% url 'birdai:joins' %}" class="task-item">
        <img src="{% static 'images/joins.webp' %}" alt="Concept icon">
        <span>Joins</span>
    </a>
    
</div>

{% endblock %}