<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aorta -->
      <package
            uri="http://www.eclipse.org/aorta_program"
            class="org.eclipse.efbt.aorta.aorta_program.Aorta_programPackage"
            genModel="model/aorta.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated aorta -->
      <parser
            type="aorta_program"
            class="org.eclipse.efbt.aorta.aorta_program.util.Aorta_programResourceFactoryImpl"/>
   </extension>

</plugin>
