<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aorta -->
      <package
            uri="http://www.eclipse.org/aortafunctions"
            class="org.eclipse.efbt.aorta.aortafunctions.AortafunctionsPackage"
            genModel="model/aorta.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated aorta -->
      <parser
            type="aortafunctions"
            class="org.eclipse.efbt.aorta.aortafunctions.util.AortafunctionsResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aorta -->
      <package
            uri="http://www.eclipse.org/base_column_structured_data"
            class="org.eclipse.efbt.aorta.base_column_structured_data.Base_column_structured_dataPackage"
            genModel="model/aorta.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated aorta -->
      <parser
            type="base_column_structured_data"
            class="org.eclipse.efbt.aorta.base_column_structured_data.util.Base_column_structured_dataResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aorta -->
      <package
            uri="http://www.eclipse.org/cell_transformation_logic"
            class="org.eclipse.efbt.aorta.cell_transformation_logic.Cell_transformation_logicPackage"
            genModel="model/aorta.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated aorta -->
      <parser
            type="cell_transformation_logic"
            class="org.eclipse.efbt.aorta.cell_transformation_logic.util.Cell_transformation_logicResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aorta -->
      <package
            uri="http://www.eclipse.org/column_structured_data"
            class="org.eclipse.efbt.aorta.column_structured_data.Column_structured_dataPackage"
            genModel="model/aorta.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated aorta -->
      <parser
            type="column_structured_data"
            class="org.eclipse.efbt.aorta.column_structured_data.util.Column_structured_dataResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aorta -->
      <package
            uri="http://www.eclipse.org/column_structures"
            class="org.eclipse.efbt.aorta.column_structures.Column_structuresPackage"
            genModel="model/aorta.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated aorta -->
      <parser
            type="column_structures"
            class="org.eclipse.efbt.aorta.column_structures.util.Column_structuresResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aorta -->
      <package
            uri="http://www.eclipse.org/data_lineage"
            class="org.eclipse.efbt.aorta.data_lineage.Data_lineagePackage"
            genModel="model/aorta.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated aorta -->
      <parser
            type="data_lineage"
            class="org.eclipse.efbt.aorta.data_lineage.util.Data_lineageResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aorta -->
      <package
            uri="http://www.eclipse.org/dataset_based_functional_domain_breakdown"
            class="org.eclipse.efbt.aorta.dataset_based_functional_domain_breakdown.Dataset_based_functional_domain_breakdownPackage"
            genModel="model/aorta.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated aorta -->
      <parser
            type="dataset_based_functional_domain_breakdown"
            class="org.eclipse.efbt.aorta.dataset_based_functional_domain_breakdown.util.Dataset_based_functional_domain_breakdownResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aorta -->
      <package
            uri="http://www.eclipse.org/deep_structures"
            class="org.eclipse.efbt.aorta.deep_structures.Deep_structuresPackage"
            genModel="model/aorta.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated aorta -->
      <parser
            type="deep_structures"
            class="org.eclipse.efbt.aorta.deep_structures.util.Deep_structuresResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aorta -->
      <package
            uri="http://www.eclipse.org/execution_environments"
            class="org.eclipse.efbt.aorta.execution_environments.Execution_environmentsPackage"
            genModel="model/aorta.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated aorta -->
      <parser
            type="execution_environments"
            class="org.eclipse.efbt.aorta.execution_environments.util.Execution_environmentsResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aorta -->
      <package
            uri="http://www.eclipse.org/functionality_module"
            class="org.eclipse.efbt.aorta.functionality_module.Functionality_modulePackage"
            genModel="model/aorta.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated aorta -->
      <parser
            type="functionality_module"
            class="org.eclipse.efbt.aorta.functionality_module.util.Functionality_moduleResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aorta -->
      <package
            uri="http://www.eclipse.org/input_data_structures"
            class="org.eclipse.efbt.aorta.input_data_structures.Input_data_structuresPackage"
            genModel="model/aorta.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated aorta -->
      <parser
            type="input_data_structures"
            class="org.eclipse.efbt.aorta.input_data_structures.util.Input_data_structuresResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aorta -->
      <package
            uri="http://www.eclipse.org/output_data_sets"
            class="org.eclipse.efbt.aorta.output_data_sets.Output_data_setsPackage"
            genModel="model/aorta.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated aorta -->
      <parser
            type="output_data_sets"
            class="org.eclipse.efbt.aorta.output_data_sets.util.Output_data_setsResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aorta -->
      <package
            uri="http://www.eclipse.org/output_data_structures"
            class="org.eclipse.efbt.aorta.output_data_structures.Output_data_structuresPackage"
            genModel="model/aorta.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated aorta -->
      <parser
            type="output_data_structures"
            class="org.eclipse.efbt.aorta.output_data_structures.util.Output_data_structuresResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aorta -->
      <package
            uri="http://www.eclipse.org/report_based_report_based_functional_domain_breakdown"
            class="org.eclipse.efbt.aorta.report_based_report_based_functional_domain_breakdown.Report_based_report_based_functional_domain_breakdownPackage"
            genModel="model/aorta.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated aorta -->
      <parser
            type="report_based_report_based_functional_domain_breakdown"
            class="org.eclipse.efbt.aorta.report_based_report_based_functional_domain_breakdown.util.Report_based_report_based_functional_domain_breakdownResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aorta -->
      <package
            uri="http://www.eclipse.org/report_structures"
            class="org.eclipse.efbt.aorta.report_structures.Report_structuresPackage"
            genModel="model/aorta.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated aorta -->
      <parser
            type="report_structures"
            class="org.eclipse.efbt.aorta.report_structures.util.Report_structuresResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aorta -->
      <package
            uri="http://www.eclipse.org/requirements_text"
            class="org.eclipse.efbt.aorta.requirements_text.Requirements_textPackage"
            genModel="model/aorta.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated aorta -->
      <parser
            type="requirements_text"
            class="org.eclipse.efbt.aorta.requirements_text.util.Requirements_textResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aorta -->
      <package
            uri="http://www.eclipse.org/requirements_artefacts"
            class="org.eclipse.efbt.aorta.requirements_artefacts.Requirements_artefactsPackage"
            genModel="model/aorta.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated aorta -->
      <parser
            type="requirements_artefacts"
            class="org.eclipse.efbt.aorta.requirements_artefacts.util.Requirements_artefactsResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aorta -->
      <package
            uri="http://www.eclipse.org/scenarios"
            class="org.eclipse.efbt.aorta.scenarios.ScenariosPackage"
            genModel="model/aorta.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated aorta -->
      <parser
            type="scenarios"
            class="org.eclipse.efbt.aorta.scenarios.util.ScenariosResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aorta -->
      <package
            uri="http://www.eclipse.org/technical_specification_breakdown"
            class="org.eclipse.efbt.aorta.technical_specification_breakdown.Technical_specification_breakdownPackage"
            genModel="model/aorta.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated aorta -->
      <parser
            type="technical_specification_breakdown"
            class="org.eclipse.efbt.aorta.technical_specification_breakdown.util.Technical_specification_breakdownResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aorta -->
      <package
            uri="http://www.eclipse.org/test_definition"
            class="org.eclipse.efbt.aorta.test_definition.Test_definitionPackage"
            genModel="model/aorta.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated aorta -->
      <parser
            type="test_definition"
            class="org.eclipse.efbt.aorta.test_definition.util.Test_definitionResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aorta -->
      <package
            uri="http://www.eclipse.org/test_input_data"
            class="org.eclipse.efbt.aorta.test_input_data.Test_input_dataPackage"
            genModel="model/aorta.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated aorta -->
      <parser
            type="test_input_data"
            class="org.eclipse.efbt.aorta.test_input_data.util.Test_input_dataResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aorta -->
      <package
            uri="http://www.eclipse.org/test_worked_example"
            class="org.eclipse.efbt.aorta.test_worked_example.Test_worked_examplePackage"
            genModel="model/aorta.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated aorta -->
      <parser
            type="test_worked_example"
            class="org.eclipse.efbt.aorta.test_worked_example.util.Test_worked_exampleResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aorta -->
      <package
            uri="http://www.eclipse.org/test"
            class="org.eclipse.efbt.aorta.test.TestPackage"
            genModel="model/aorta.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated aorta -->
      <parser
            type="test"
            class="org.eclipse.efbt.aorta.test.util.TestResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aorta -->
      <package
            uri="http://www.eclipse.org/aorta_program"
            class="org.eclipse.efbt.aorta.aorta_program.Aorta_programPackage"
            genModel="model/aorta.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated aorta -->
      <parser
            type="aorta_program"
            class="org.eclipse.efbt.aorta.aorta_program.util.Aorta_programResourceFactoryImpl"/>
   </extension>

</plugin>
