<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated lineagefunctions -->
      <package
            uri="http://www.eclipse.org/advanced_variable_lineagefunctions"
            class="org.eclipse.efbt.lineage.common.model.advanced_variable_lineagefunctions.Advanced_variable_lineagefunctionsPackage"
            genModel="model/lineagefunctions.genmodel"/>
   </extension>


   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated lineagefunctions -->
      <parser
            type="advanced_variable_lineagefunctions"
            class="org.eclipse.efbt.lineage.common.model.advanced_variable_lineagefunctions.util.Advanced_variable_lineagefunctionsResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated lineagefunctions -->
      <package
            uri="http://www.eclipse.org/efbt/column_transformation_logic"
            class="org.eclipse.efbt.lineage.common.model.column_transformation_logic.Column_transformation_logicPackage"
            genModel="model/lineagefunctions.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated lineagefunctions -->
      <parser
            type="column_transformation_logic"
            class="org.eclipse.efbt.lineage.common.model.column_transformation_logic.util.Column_transformation_logicResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated lineagefunctions -->
      <package
            uri="http://www.eclipse.org/data_lineage_functions"
            class="org.eclipse.efbt.lineage.common.model.data_lineage_functions.Data_lineage_functionsPackage"
            genModel="model/lineagefunctions.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated lineagefunctions -->
      <parser
            type="data_lineage_functions"
            class="org.eclipse.efbt.lineage.common.model.data_lineage_functions.util.Data_lineage_functionsResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated lineagefunctions -->
      <package
            uri="http://www.eclipse.org/efbt/lineagefunctions"
            class="org.eclipse.efbt.lineage.common.model.lineagefunctions.LineagefunctionsPackage"
            genModel="model/lineagefunctions.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated lineagefunctions -->
      <parser
            type="lineagefunctions"
            class="org.eclipse.efbt.lineage.common.model.lineagefunctions.util.LineagefunctionsResourceFactoryImpl"/>
   </extension>

</plugin>
