<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated functionality_module -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.cocalimo.core.model.functionality_module.presentation.Functionality_moduleModelWizardID"
            name="%_UI_Functionality_moduleModelWizard_label"
            class="org.eclipse.efbt.cocalimo.core.model.functionality_module.presentation.Functionality_moduleModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Functionality_moduleModelFile.gif">
         <description>%_UI_Functionality_moduleModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated functionality_module -->
      <editor
            id="org.eclipse.efbt.cocalimo.core.model.functionality_module.presentation.Functionality_moduleEditorID"
            name="%_UI_Functionality_moduleEditor_label"
            icon="icons/full/obj16/Functionality_moduleModelFile.gif"
            extensions="functionality_module"
            class="org.eclipse.efbt.cocalimo.core.model.functionality_module.presentation.Functionality_moduleEditor"
            contributorClass="org.eclipse.efbt.cocalimo.core.model.functionality_module.presentation.Functionality_moduleActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated functionality_module -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.cocalimo.core.model.scenarios.presentation.ScenariosModelWizardID"
            name="%_UI_ScenariosModelWizard_label"
            class="org.eclipse.efbt.cocalimo.core.model.scenarios.presentation.ScenariosModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ScenariosModelFile.gif">
         <description>%_UI_ScenariosModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated functionality_module -->
      <editor
            id="org.eclipse.efbt.cocalimo.core.model.scenarios.presentation.ScenariosEditorID"
            name="%_UI_ScenariosEditor_label"
            icon="icons/full/obj16/ScenariosModelFile.gif"
            extensions="scenarios"
            class="org.eclipse.efbt.cocalimo.core.model.scenarios.presentation.ScenariosEditor"
            contributorClass="org.eclipse.efbt.cocalimo.core.model.scenarios.presentation.ScenariosActionBarContributor">
      </editor>
   </extension>

</plugin>
