<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated attribute_lineage -->
      <package
            uri="http://www.eclipse.org/attribute_lineage"
            class="org.eclipse.efbt.almengine.model.attribute_lineage.attribute_lineage.Attribute_lineagePackage"
            genModel="model/attribute_lineage.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated attribute_lineage -->
      <parser
            type="attribute_lineage"
            class="org.eclipse.efbt.almengine.model.attribute_lineage.attribute_lineage.util.Attribute_lineageResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated attribute_lineage -->
      <package
            uri="http://www.eclipse.org/cube_transformation_logic"
            class="org.eclipse.efbt.almengine.model.attribute_lineage.cube_transformation_logic.Cube_transformation_logicPackage"
            genModel="model/attribute_lineage.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated attribute_lineage -->
      <parser
            type="cube_transformation_logic"
            class="org.eclipse.efbt.almengine.model.attribute_lineage.cube_transformation_logic.util.Cube_transformation_logicResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated attribute_lineage -->
      <package
            uri="http://www.eclipse.org/row_transformation_logic"
            class="org.eclipse.efbt.almengine.model.attribute_lineage.row_transformation_logic.Row_transformation_logicPackage"
            genModel="model/attribute_lineage.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated attribute_lineage -->
      <parser
            type="row_transformation_logic"
            class="org.eclipse.efbt.almengine.model.attribute_lineage.row_transformation_logic.util.Row_transformation_logicResourceFactoryImpl"/>
   </extension>

</plugin>
