<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.googlecode.com/efactory/xtextintegration/MyDsl" 
       class = "org.eclipse.emf.eson.xtextintegration.myDsl.MyDslPackage"
       genModel = "model/TestModelWithXtextReference.genmodel" /> 
	
  </extension>



   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TestModelWithXtextReference -->
      <package
            uri="http://testModelWithXtextReference/1.0"
            class="testModelWithXtextReference.TestModelWithXtextReferencePackage"
            genModel="model/TestModelWithXtextReference.genmodel"/>
   </extension>

</plugin>
