<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated core_model -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.openregspecs.model.bpmn_lite.presentation.Bpmn_liteModelWizardID"
            name="%_UI_Bpmn_liteModelWizard_label"
            class="org.eclipse.efbt.openregspecs.model.bpmn_lite.presentation.Bpmn_liteModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Bpmn_liteModelFile.gif">
         <description>%_UI_Bpmn_liteModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated core_model -->
      <editor
            id="org.eclipse.efbt.openregspecs.model.bpmn_lite.presentation.Bpmn_liteEditorID"
            name="%_UI_Bpmn_liteEditor_label"
            icon="icons/full/obj16/Bpmn_liteModelFile.gif"
            extensions="bpmn_lite"
            class="org.eclipse.efbt.openregspecs.model.bpmn_lite.presentation.Bpmn_liteEditor"
            contributorClass="org.eclipse.efbt.openregspecs.model.bpmn_lite.presentation.Bpmn_liteActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated core_model -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.openregspecs.model.data_meta_model.presentation.Data_meta_modelModelWizardID"
            name="%_UI_Data_meta_modelModelWizard_label"
            class="org.eclipse.efbt.openregspecs.model.data_meta_model.presentation.Data_meta_modelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Data_meta_modelModelFile.gif">
         <description>%_UI_Data_meta_modelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated core_model -->
      <editor
            id="org.eclipse.efbt.openregspecs.model.data_meta_model.presentation.Data_meta_modelEditorID"
            name="%_UI_Data_meta_modelEditor_label"
            icon="icons/full/obj16/Data_meta_modelModelFile.gif"
            extensions="data_meta_model"
            class="org.eclipse.efbt.openregspecs.model.data_meta_model.presentation.Data_meta_modelEditor"
            contributorClass="org.eclipse.efbt.openregspecs.model.data_meta_model.presentation.Data_meta_modelActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated core_model -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.openregspecs.model.module_management.presentation.Module_managementModelWizardID"
            name="%_UI_Module_managementModelWizard_label"
            class="org.eclipse.efbt.openregspecs.model.module_management.presentation.Module_managementModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Module_managementModelFile.gif">
         <description>%_UI_Module_managementModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated core_model -->
      <editor
            id="org.eclipse.efbt.openregspecs.model.module_management.presentation.Module_managementEditorID"
            name="%_UI_Module_managementEditor_label"
            icon="icons/full/obj16/Module_managementModelFile.gif"
            extensions="module_management"
            class="org.eclipse.efbt.openregspecs.model.module_management.presentation.Module_managementEditor"
            contributorClass="org.eclipse.efbt.openregspecs.model.module_management.presentation.Module_managementActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated core_model -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.openregspecs.model.requirements_text.presentation.Requirements_textModelWizardID"
            name="%_UI_Requirements_textModelWizard_label"
            class="org.eclipse.efbt.openregspecs.model.requirements_text.presentation.Requirements_textModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Requirements_textModelFile.gif">
         <description>%_UI_Requirements_textModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated core_model -->
      <editor
            id="org.eclipse.efbt.openregspecs.model.requirements_text.presentation.Requirements_textEditorID"
            name="%_UI_Requirements_textEditor_label"
            icon="icons/full/obj16/Requirements_textModelFile.gif"
            extensions="requirements_text"
            class="org.eclipse.efbt.openregspecs.model.requirements_text.presentation.Requirements_textEditor"
            contributorClass="org.eclipse.efbt.openregspecs.model.requirements_text.presentation.Requirements_textActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated core_model -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.openregspecs.model.sql_lite.presentation.Sql_liteModelWizardID"
            name="%_UI_Sql_liteModelWizard_label"
            class="org.eclipse.efbt.openregspecs.model.sql_lite.presentation.Sql_liteModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Sql_liteModelFile.gif">
         <description>%_UI_Sql_liteModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated core_model -->
      <editor
            id="org.eclipse.efbt.openregspecs.model.sql_lite.presentation.Sql_liteEditorID"
            name="%_UI_Sql_liteEditor_label"
            icon="icons/full/obj16/Sql_liteModelFile.gif"
            extensions="sql_lite"
            class="org.eclipse.efbt.openregspecs.model.sql_lite.presentation.Sql_liteEditor"
            contributorClass="org.eclipse.efbt.openregspecs.model.sql_lite.presentation.Sql_liteActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated core_model -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.openregspecs.model.testing.presentation.TestingModelWizardID"
            name="%_UI_TestingModelWizard_label"
            class="org.eclipse.efbt.openregspecs.model.testing.presentation.TestingModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TestingModelFile.gif">
         <description>%_UI_TestingModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated core_model -->
      <editor
            id="org.eclipse.efbt.openregspecs.model.testing.presentation.TestingEditorID"
            name="%_UI_TestingEditor_label"
            icon="icons/full/obj16/TestingModelFile.gif"
            extensions="testing"
            class="org.eclipse.efbt.openregspecs.model.testing.presentation.TestingEditor"
            contributorClass="org.eclipse.efbt.openregspecs.model.testing.presentation.TestingActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated platform_call -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.openregspecs.model.platform_call.presentation.Platform_callModelWizardID"
            name="%_UI_Platform_callModelWizard_label"
            class="org.eclipse.efbt.openregspecs.model.platform_call.presentation.Platform_callModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Platform_callModelFile.gif">
         <description>%_UI_Platform_callModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated platform_call -->
      <editor
            id="org.eclipse.efbt.openregspecs.model.platform_call.presentation.Platform_callEditorID"
            name="%_UI_Platform_callEditor_label"
            icon="icons/full/obj16/Platform_callModelFile.gif"
            extensions="platform_call"
            class="org.eclipse.efbt.openregspecs.model.platform_call.presentation.Platform_callEditor"
            contributorClass="org.eclipse.efbt.openregspecs.model.platform_call.presentation.Platform_callActionBarContributor">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated smcubes_model -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.openregspecs.model.core.presentation.CoreModelWizardID"
            name="%_UI_CoreModelWizard_label"
            class="org.eclipse.efbt.openregspecs.model.core.presentation.CoreModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CoreModelFile.gif">
         <description>%_UI_CoreModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated smcubes_model -->
      <editor
            id="org.eclipse.efbt.openregspecs.model.core.presentation.CoreEditorID"
            name="%_UI_CoreEditor_label"
            icon="icons/full/obj16/CoreModelFile.gif"
            extensions="core"
            class="org.eclipse.efbt.openregspecs.model.core.presentation.CoreEditor"
            contributorClass="org.eclipse.efbt.openregspecs.model.core.presentation.CoreActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated smcubes_model -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.openregspecs.model.data_definition.presentation.Data_definitionModelWizardID"
            name="%_UI_Data_definitionModelWizard_label"
            class="org.eclipse.efbt.openregspecs.model.data_definition.presentation.Data_definitionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Data_definitionModelFile.gif">
         <description>%_UI_Data_definitionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated smcubes_model -->
      <editor
            id="org.eclipse.efbt.openregspecs.model.data_definition.presentation.Data_definitionEditorID"
            name="%_UI_Data_definitionEditor_label"
            icon="icons/full/obj16/Data_definitionModelFile.gif"
            extensions="data_definition"
            class="org.eclipse.efbt.openregspecs.model.data_definition.presentation.Data_definitionEditor"
            contributorClass="org.eclipse.efbt.openregspecs.model.data_definition.presentation.Data_definitionActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated smcubes_model -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.openregspecs.model.mapping.presentation.MappingModelWizardID"
            name="%_UI_MappingModelWizard_label"
            class="org.eclipse.efbt.openregspecs.model.mapping.presentation.MappingModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MappingModelFile.gif">
         <description>%_UI_MappingModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated smcubes_model -->
      <editor
            id="org.eclipse.efbt.openregspecs.model.mapping.presentation.MappingEditorID"
            name="%_UI_MappingEditor_label"
            icon="icons/full/obj16/MappingModelFile.gif"
            extensions="mapping"
            class="org.eclipse.efbt.openregspecs.model.mapping.presentation.MappingEditor"
            contributorClass="org.eclipse.efbt.openregspecs.model.mapping.presentation.MappingActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated smcubes_model -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.openregspecs.model.openregspecs_smcubes_core_extension.presentation.openregspecs_smcubes_core_extensionModelWizardID"
            name="%_UI_openregspecs_smcubes_core_extensionModelWizard_label"
            class="org.eclipse.efbt.openregspecs.model.openregspecs_smcubes_core_extension.presentation.openregspecs_smcubes_core_extensionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/openregspecs_smcubes_core_extensionModelFile.gif">
         <description>%_UI_openregspecs_smcubes_core_extensionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated smcubes_model -->
      <editor
            id="org.eclipse.efbt.openregspecs.model.openregspecs_smcubes_core_extension.presentation.openregspecs_smcubes_core_extensionEditorID"
            name="%_UI_openregspecs_smcubes_core_extensionEditor_label"
            icon="icons/full/obj16/openregspecs_smcubes_core_extensionModelFile.gif"
            extensions="openregspecs_smcubes_core_extension"
            class="org.eclipse.efbt.openregspecs.model.openregspecs_smcubes_core_extension.presentation.openregspecs_smcubes_core_extensionEditor"
            contributorClass="org.eclipse.efbt.openregspecs.model.openregspecs_smcubes_core_extension.presentation.openregspecs_smcubes_core_extensionActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated smcubes_model -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.openregspecs.model.openregspecs_smcubes_extra_extension.presentation.openregspecs_smcubes_extra_extensionModelWizardID"
            name="%_UI_openregspecs_smcubes_extra_extensionModelWizard_label"
            class="org.eclipse.efbt.openregspecs.model.openregspecs_smcubes_extra_extension.presentation.openregspecs_smcubes_extra_extensionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/openregspecs_smcubes_extra_extensionModelFile.gif">
         <description>%_UI_openregspecs_smcubes_extra_extensionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated smcubes_model -->
      <editor
            id="org.eclipse.efbt.openregspecs.model.openregspecs_smcubes_extra_extension.presentation.openregspecs_smcubes_extra_extensionEditorID"
            name="%_UI_openregspecs_smcubes_extra_extensionEditor_label"
            icon="icons/full/obj16/openregspecs_smcubes_extra_extensionModelFile.gif"
            extensions="openregspecs_smcubes_extra_extension"
            class="org.eclipse.efbt.openregspecs.model.openregspecs_smcubes_extra_extension.presentation.openregspecs_smcubes_extra_extensionEditor"
            contributorClass="org.eclipse.efbt.openregspecs.model.openregspecs_smcubes_extra_extension.presentation.openregspecs_smcubes_extra_extensionActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated smcubes_model -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.openregspecs.model.rendering.presentation.RenderingModelWizardID"
            name="%_UI_RenderingModelWizard_label"
            class="org.eclipse.efbt.openregspecs.model.rendering.presentation.RenderingModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RenderingModelFile.gif">
         <description>%_UI_RenderingModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated smcubes_model -->
      <editor
            id="org.eclipse.efbt.openregspecs.model.rendering.presentation.RenderingEditorID"
            name="%_UI_RenderingEditor_label"
            icon="icons/full/obj16/RenderingModelFile.gif"
            extensions="rendering"
            class="org.eclipse.efbt.openregspecs.model.rendering.presentation.RenderingEditor"
            contributorClass="org.eclipse.efbt.openregspecs.model.rendering.presentation.RenderingActionBarContributor">
      </editor>
   </extension>
</plugin>
