<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
    Copyright (c) 2020 Bird Software Solutions Ltd
    This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
       Neil Mackenzie - initial API and implementation
 -->

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated requirements_text -->
      <package
            uri="http://www.eclipse.org/efbt/requirements_text"
            class="org.eclipse.efbt.cocalimo.core.model.requirements_text.Requirements_textPackage"
            genModel="model/requirements_text.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated requirements_text -->
      <parser
            type="requirements_text"
            class="org.eclipse.efbt.cocalimo.core.model.requirements_text.util.Requirements_textResourceFactoryImpl"/>
   </extension>

</plugin>
