<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.eclipse.efbt.oa4rr.ui.sirius.testmanager.Activator"
               id="org.eclipse.efbt.oa4rr.ui.sirius.testmanager"
	       name="testmanager">
    </component>
  </extension>
</plugin>
