<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated functions -->
      <package
            uri="http://www.eclipse.org/column_transformation_logic"
            class="org.eclipse.efbt.almengine.model.functions.column_transformation_logic.Column_transformation_logicPackage"
            genModel="model/functions.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated functions -->
      <parser
            type="column_transformation_logic"
            class="org.eclipse.efbt.almengine.model.functions.column_transformation_logic.util.Column_transformation_logicResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated functions -->
      <package
            uri="http://www.eclipse.org/functions"
            class="org.eclipse.efbt.almengine.model.functions.functions.FunctionsPackage"
            genModel="model/functions.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated functions -->
      <parser
            type="functions"
            class="org.eclipse.efbt.almengine.model.functions.functions.util.FunctionsResourceFactoryImpl"/>
   </extension>

</plugin>
