<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
    Copyright (c) 2020 Bird Software Solutions Ltd
    This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
       Neil Mackenzie - initial API and implementation
 -->

<plugin>







   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated open_reg_specs -->
      <package
            uri="http://www.eclipse.org/efbt/xcorelite"
            class="org.eclipse.efbt.xcorelite.model.xcorelite.XcorelitePackage"
            genModel="model/xcorelite.genmodel"/>
   </extension>



</plugin>
