<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="com.birdsoftwaresolutions.oa4rtt.ui.sirius.Activator"
               id="com.birdsoftwaresolutions.oa4rtt.ui.sirius"
	       name="oa4rtt">
    </component>
  </extension>
</plugin>
