<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
    Copyright (c) 2020 Bird Software Solutions Ltd
    This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
       Neil Mackenzie - initial API and implementation
 -->

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated lineagecubes -->
      <package
            uri="http://www.eclipse.org/efbt/cube_schema"
            class="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.lineagecubes.cube_schema.Cube_schemaPackage"
            genModel="model/lineagecubes.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated lineagecubes -->
      <parser
            type="cube_schema"
            class="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.lineagecubes.cube_schema.util.Cube_schemaResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated lineagecubes -->
      <package
            uri="http://www.eclipse.org/efbt/cubes"
            class="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.lineagecubes.cubes.CubesPackage"
            genModel="model/lineagecubes.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated lineagecubes -->
      <parser
            type="cubes"
            class="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.lineagecubes.cubes.util.CubesResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated lineagecubes -->
      <package
            uri="http://www.eclipse.org/efbt/efbt_advanced_data_definition"
            class="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.lineagecubes.efbt_advanced_data_definition.Efbt_advanced_data_definitionPackage"
            genModel="model/lineagecubes.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated lineagecubes -->
      <parser
            type="efbt_advanced_data_definition"
            class="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.lineagecubes.efbt_advanced_data_definition.util.Efbt_advanced_data_definitionResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated lineagecubes -->
      <package
            uri="http://www.eclipse.org/efbt/incremental_cubes"
            class="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.lineagecubes.incremental_cubes.Incremental_cubesPackage"
            genModel="model/lineagecubes.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated lineagecubes -->
      <parser
            type="incremental_cubes"
            class="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.lineagecubes.incremental_cubes.util.Incremental_cubesResourceFactoryImpl"/>
   </extension>

</plugin>
