<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated lineagecubes -->
      <package
            uri="http://www.eclipse.org/efbt/cube_schema"
            class="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.cube_schema.Cube_schemaPackage"
            genModel="model/lineagecubes.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated lineagecubes -->
      <parser
            type="cube_schema"
            class="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.cube_schema.util.Cube_schemaResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated lineagecubes -->
      <package
            uri="http://www.eclipse.org/efbt/cubes"
            class="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.cubes.CubesPackage"
            genModel="model/lineagecubes.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated lineagecubes -->
      <parser
            type="cubes"
            class="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.cubes.util.CubesResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated lineagecubes -->
      <package
            uri="http://www.eclipse.org/efbt/efbt_advanced_data_definition"
            class="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.efbt_advanced_data_definition.Efbt_advanced_data_definitionPackage"
            genModel="model/lineagecubes.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated lineagecubes -->
      <parser
            type="efbt_advanced_data_definition"
            class="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.efbt_advanced_data_definition.util.Efbt_advanced_data_definitionResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated lineagecubes -->
      <package
            uri="http://www.eclipse.org/efbt/incremental_cubes"
            class="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.incremental_cubes.Incremental_cubesPackage"
            genModel="model/lineagecubes.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated lineagecubes -->
      <parser
            type="incremental_cubes"
            class="org.eclipse.efbt.cocalimo.smcubes_with_lineage.model.incremental_cubes.util.Incremental_cubesResourceFactoryImpl"/>
   </extension>

</plugin>
