<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<!--
    Copyright (c) 2020 Bird Software Solutions Ltd
    This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
       Neil Mackenzie - initial API and implementation
 -->

<plugin>
	<extension
		point="org.eclipse.ui.editors">
		<editor
			class="org.eclipse.efbt.cocason.dsl.cocason.ui.CoCaSonExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
			contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
			default="true"
			extensions="coca"
			id="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon"
			name="CoCaSon Editor">
		</editor>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="org.eclipse.efbt.cocason.dsl.cocason.ui.CoCaSonExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
			commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
			<activeWhen>
				<reference
					definitionId="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler
			class="org.eclipse.efbt.cocason.dsl.cocason.ui.CoCaSonExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
			commandId="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.validate">
			<activeWhen>
				<reference
					definitionId="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<!-- copy qualified name -->
		<handler
			class="org.eclipse.efbt.cocason.dsl.cocason.ui.CoCaSonExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
			<activeWhen>
				<reference definitionId="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.Editor.opened" />
			</activeWhen>
		</handler>
		<handler
			class="org.eclipse.efbt.cocason.dsl.cocason.ui.CoCaSonExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
			<activeWhen>
				<and>
					<reference definitionId="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.XtextEditor.opened" />
					<iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.Editor.opened">
			<and>
				<reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
		<definition id="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.XtextEditor.opened">
			<and>
				<reference definitionId="isXtextEditorActive"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
	</extension>
	<extension
			point="org.eclipse.ui.preferencePages">
		<page
			class="org.eclipse.efbt.cocason.dsl.cocason.ui.CoCaSonExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon"
			name="CoCaSon">
			<keywordReference id="org.eclipse.efbt.cocason.dsl.cocason.ui.keyword_CoCaSon"/>
		</page>
		<page
			category="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon"
			class="org.eclipse.efbt.cocason.dsl.cocason.ui.CoCaSonExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
			id="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.coloring"
			name="Syntax Coloring">
			<keywordReference id="org.eclipse.efbt.cocason.dsl.cocason.ui.keyword_CoCaSon"/>
		</page>
		<page
			category="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon"
			class="org.eclipse.efbt.cocason.dsl.cocason.ui.CoCaSonExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
			id="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.templates"
			name="Templates">
			<keywordReference id="org.eclipse.efbt.cocason.dsl.cocason.ui.keyword_CoCaSon"/>
		</page>
	</extension>
	<extension
			point="org.eclipse.ui.propertyPages">
		<page
			class="org.eclipse.efbt.cocason.dsl.cocason.ui.CoCaSonExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon"
			name="CoCaSon">
			<keywordReference id="org.eclipse.efbt.cocason.dsl.cocason.ui.keyword_CoCaSon"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension
		point="org.eclipse.ui.keywords">
		<keyword
			id="org.eclipse.efbt.cocason.dsl.cocason.ui.keyword_CoCaSon"
			label="CoCaSon"/>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Trigger expensive validation"
			id="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.validate"
			name="Validate">
		</command>
		<!-- copy qualified name -->
		<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
		</command>
		<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			<command
				commandId="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.validate"
				style="push"
				tooltip="Trigger expensive validation">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
		<!-- copy qualified name -->
		<menuContribution locationURI="popup:#TextEditorContext?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="menu:edit?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<and>
						<reference definitionId="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="org.eclipse.efbt.cocason.dsl.cocason.ui.CoCaSonExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
			commandId="org.eclipse.xtext.ui.editor.FindReferences">
			<activeWhen>
				<reference
					definitionId="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type
			base-type="org.eclipse.core.runtime.text"
			file-extensions="coca"
			id="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.contenttype"
			name="CoCaSon File"
			priority="normal">
		</content-type>
	</extension>
	<!-- adding resource factories -->
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.eclipse.efbt.cocason.dsl.cocason.ui.CoCaSonExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="coca">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
		<resourceServiceProvider
			class="org.eclipse.efbt.cocason.dsl.cocason.ui.CoCaSonExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="coca">
		</resourceServiceProvider>
	</extension>
	<!-- marker definitions for org.eclipse.efbt.cocason.dsl.cocason.CoCaSon -->
	<extension
			id="cocason.check.fast"
			name="CoCaSon Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.fast"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="cocason.check.normal"
			name="CoCaSon Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.normal"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="cocason.check.expensive"
			name="CoCaSon Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.expensive"/>
		<persistent value="true"/>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon"
			class="org.eclipse.efbt.cocason.dsl.cocason.ui.CoCaSonExecutableExtensionFactory:org.eclipse.xtext.ui.validation.ValidatorPreferencePage"
			id="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.validator.preferencePage"
			name="Errors/Warnings">
			<keywordReference id="org.eclipse.efbt.cocason.dsl.cocason.ui.keyword_CoCaSon"/>
		</page>
	</extension>
	<extension point="org.eclipse.xtext.builder.participant">
		<participant
			class="org.eclipse.efbt.cocason.dsl.cocason.ui.CoCaSonExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
			fileExtensions="coca"/>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon"
			class="org.eclipse.efbt.cocason.dsl.cocason.ui.CoCaSonExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.compiler.preferencePage"
			name="Compiler">
			<keywordReference id="org.eclipse.efbt.cocason.dsl.cocason.ui.keyword_CoCaSon"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page
			category="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon"
			class="org.eclipse.efbt.cocason.dsl.cocason.ui.CoCaSonExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.compiler.propertyPage"
			name="Compiler">
			<keywordReference id="org.eclipse.efbt.cocason.dsl.cocason.ui.keyword_CoCaSon"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?after=xtext.ui.openDeclaration">
			<command
				commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand"
				id="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.OpenGeneratedCode"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="org.eclipse.efbt.cocason.dsl.cocason.ui.CoCaSonExecutableExtensionFactory:org.eclipse.xtext.ui.generator.trace.OpenGeneratedFileHandler"
			commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand">
			<activeWhen>
				<reference definitionId="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.Editor.opened" />
			</activeWhen>
		</handler>
	</extension>
	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="org.eclipse.efbt.cocason.dsl.cocason.ui.CoCaSonExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<!-- quickfix marker resolution generator for org.eclipse.efbt.cocason.dsl.cocason.CoCaSon -->
	<extension
			point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="org.eclipse.efbt.cocason.dsl.cocason.ui.CoCaSonExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="org.eclipse.efbt.cocason.dsl.cocason.ui.cocason.check.fast">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="org.eclipse.efbt.cocason.dsl.cocason.ui.CoCaSonExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="org.eclipse.efbt.cocason.dsl.cocason.ui.cocason.check.normal">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="org.eclipse.efbt.cocason.dsl.cocason.ui.CoCaSonExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="org.eclipse.efbt.cocason.dsl.cocason.ui.cocason.check.expensive">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
	</extension>
	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="org.eclipse.efbt.cocason.dsl.cocason.ui.CoCaSonExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			<command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon"
			class="org.eclipse.efbt.cocason.dsl.cocason.ui.CoCaSonExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
			id="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.refactoring"
			name="Refactoring">
			<keywordReference id="org.eclipse.efbt.cocason.dsl.cocason.ui.keyword_CoCaSon"/>
		</page>
	</extension>
	<extension point="org.eclipse.compare.contentViewers">
		<viewer id="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.compare.contentViewers"
			class="org.eclipse.efbt.cocason.dsl.cocason.ui.CoCaSonExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="coca">
		</viewer>
		<contentTypeBinding
			contentTypeId="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.contenttype"
			contentViewerId="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.compare.contentViewers" />
	</extension>
	<extension point="org.eclipse.compare.contentMergeViewers">
		<viewer id="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.compare.contentMergeViewers"
			class="org.eclipse.efbt.cocason.dsl.cocason.ui.CoCaSonExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="coca" label="CoCaSon Compare">
		</viewer>
		<contentTypeBinding
			contentTypeId="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.contenttype"
			contentMergeViewerId="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.compare.contentMergeViewers" />
	</extension>
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider id="org.eclipse.efbt.cocason.dsl.cocason.CoCaSon.editors.documentProviders"
			class="org.eclipse.efbt.cocason.dsl.cocason.ui.CoCaSonExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
			extensions="coca">
		</provider>
	</extension>
	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes
			extension="coca"
			type="text">
		</fileTypes>
	</extension>
	<extension
          point="org.eclipse.ui.newWizards">
       <category 
            id="org.eclipse.efbt.cocason.dsl.cocason.ui.Examples"
            name="C"
            parentCategory="org.eclipse.ui.Examples" />
       <wizard
             category="org.eclipse.ui.Examples/org.eclipse.efbt.cocason.dsl.cocason.ui.Examples"
             class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
             icon="icons/EObject.gif"
             id="org.eclipse.efbt.cocason.dsl.cocason.ui.wizard.CocasonExampleWizard"
             name="CoCaSon Example"
             project="true">
       </wizard>      
    </extension>
   <extension point="org.eclipse.emf.common.ui.examples">
        <example wizardID="org.eclipse.efbt.cocason.dsl.cocason.ui.wizard.CocasonExampleWizard" pageImage="icons/genproject.gif">
            <projectDescriptor name="org.eclipse.efbt.cocason.example" contentURI="examples/org.eclipse.efbt.cocason.example/" description="CoCaSon Example"/>           
            <fileToOpen location="org.eclipse.efbt.cocason.example/variablesRoot.coca"/>           
        </example>
    </extension>
</plugin>
