<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated functionality_breakdown -->
      <package
            uri="http://www.eclipse.org/functionality_module"
            class="functionality_module.functionality_modulePackage"
            genModel="model/functionality_breakdown.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated functionality_breakdown -->
      <parser
            type="functionality_module"
            class="functionality_module.util.functionality_moduleResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated functionality_breakdown -->
      <package
            uri="http://www.eclipse.org/scenarios"
            class="scenarios.ScenariosPackage"
            genModel="model/functionality_breakdown.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated functionality_breakdown -->
      <parser
            type="scenarios"
            class="scenarios.util.ScenariosResourceFactoryImpl"/>
   </extension>

</plugin>
