<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated lineagecubes -->
      <package
            uri="http://www.eclipse.org/cube_schema"
            class="org.eclipse.efbt.cocamo.lineage.model.cube_schema.Cube_schemaPackage"
            genModel="model/lineagecubes.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated lineagecubes -->
      <parser
            type="cube_schema"
            class="org.eclipse.efbt.cocamo.lineage.model.cube_schema.util.Cube_schemaResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated lineagecubes -->
      <package
            uri="http://www.eclipse.org/cubes"
            class="org.eclipse.efbt.cocamo.lineage.model.cubes.CubesPackage"
            genModel="model/lineagecubes.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated lineagecubes -->
      <parser
            type="cubes"
            class="org.eclipse.efbt.cocamo.lineage.model.cubes.util.CubesResourceFactoryImpl"/>
   </extension>

</plugin>
