<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated il_domains -->
      <package
            uri="il_domains"
            class="il_domains.Il_domainsPackage"
            genModel="src/il_domains.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated output_tables -->
      <package
            uri="output_tables"
            class="output_tables.Output_tablesPackage"
            genModel="src/output_tables.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated input_tables -->
      <package
            uri="input_tables"
            class="input_tables.Input_tablesPackage"
            genModel="src/input_tables.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sdd_domains -->
      <package
            uri="sdd_domains"
            class="sdd_domains.Sdd_domainsPackage"
            genModel="src/sdd_domains.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated C91_REFoutput_logic -->
      <package
            uri="C91_REFoutput_logic"
            class="C91_REFoutput_logic.C91_REFoutput_logicPackage"
            genModel="src/C91_REFoutput_logic.xcore"/>
   </extension>

</plugin>
