<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated testing -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.cocalimo.core.model.test_definition.presentation.Test_definitionModelWizardID"
            name="%_UI_Test_definitionModelWizard_label"
            class="org.eclipse.efbt.cocalimo.core.model.test_definition.presentation.Test_definitionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Test_definitionModelFile.gif">
         <description>%_UI_Test_definitionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated testing -->
      <editor
            id="org.eclipse.efbt.cocalimo.core.model.test_definition.presentation.Test_definitionEditorID"
            name="%_UI_Test_definitionEditor_label"
            icon="icons/full/obj16/Test_definitionModelFile.gif"
            extensions="test_definition"
            class="org.eclipse.efbt.cocalimo.core.model.test_definition.presentation.Test_definitionEditor"
            contributorClass="org.eclipse.efbt.cocalimo.core.model.test_definition.presentation.Test_definitionActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated testing -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.cocalimo.core.model.test_input_data.presentation.Test_input_dataModelWizardID"
            name="%_UI_Test_input_dataModelWizard_label"
            class="org.eclipse.efbt.cocalimo.core.model.test_input_data.presentation.Test_input_dataModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Test_input_dataModelFile.gif">
         <description>%_UI_Test_input_dataModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated testing -->
      <editor
            id="org.eclipse.efbt.cocalimo.core.model.test_input_data.presentation.Test_input_dataEditorID"
            name="%_UI_Test_input_dataEditor_label"
            icon="icons/full/obj16/Test_input_dataModelFile.gif"
            extensions="test_input_data"
            class="org.eclipse.efbt.cocalimo.core.model.test_input_data.presentation.Test_input_dataEditor"
            contributorClass="org.eclipse.efbt.cocalimo.core.model.test_input_data.presentation.Test_input_dataActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated testing -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.cocalimo.core.model.test.presentation.TestModelWizardID"
            name="%_UI_TestModelWizard_label"
            class="org.eclipse.efbt.cocalimo.core.model.test.presentation.TestModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TestModelFile.gif">
         <description>%_UI_TestModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated testing -->
      <editor
            id="org.eclipse.efbt.cocalimo.core.model.test.presentation.TestEditorID"
            name="%_UI_TestEditor_label"
            icon="icons/full/obj16/TestModelFile.gif"
            extensions="test"
            class="org.eclipse.efbt.cocalimo.core.model.test.presentation.TestEditor"
            contributorClass="org.eclipse.efbt.cocalimo.core.model.test.presentation.TestActionBarContributor">
      </editor>
   </extension>

</plugin>
