<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated controller -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.cocalimo.core.model.platform_call.presentation.Platform_callModelWizardID"
            name="%_UI_Platform_callModelWizard_label"
            class="org.eclipse.efbt.cocalimo.core.model.platform_call.presentation.Platform_callModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Platform_callModelFile.gif">
         <description>%_UI_Platform_callModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated controller -->
      <editor
            id="org.eclipse.efbt.cocalimo.core.model.platform_call.presentation.Platform_callEditorID"
            name="%_UI_Platform_callEditor_label"
            icon="icons/full/obj16/Platform_callModelFile.gif"
            extensions="platform_call"
            class="org.eclipse.efbt.cocalimo.core.model.platform_call.presentation.Platform_callEditor"
            contributorClass="org.eclipse.efbt.cocalimo.core.model.platform_call.presentation.Platform_callActionBarContributor">
      </editor>
   </extension>

</plugin>
