<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated program -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.efbt.cocalimo.smcubes.model.program.presentation.ProgramModelWizardID"
            name="%_UI_ProgramModelWizard_label"
            class="org.eclipse.efbt.cocalimo.smcubes.model.program.presentation.ProgramModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ProgramModelFile.gif">
         <description>%_UI_ProgramModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated program -->
      <editor
            id="org.eclipse.efbt.cocalimo.smcubes.model.program.presentation.ProgramEditorID"
            name="%_UI_ProgramEditor_label"
            icon="icons/full/obj16/ProgramModelFile.gif"
            extensions="program"
            class="org.eclipse.efbt.cocalimo.smcubes.model.program.presentation.ProgramEditor"
            contributorClass="org.eclipse.efbt.cocalimo.smcubes.model.program.presentation.ProgramActionBarContributor">
      </editor>
   </extension>

</plugin>
