<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sql_lite -->
      <package
            uri="http://www.example.org/sql_lite"
            class="org.eclipse.efbt.cocalimo.computation.model.sql_lite.Sql_litePackage"
            genModel="model/sql_lite.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ecore_plus -->
      <package
            uri="http://www.eclipse.org/efbt/ecore_plus_structure"
            class="org.eclipse.efbt.cocalimo.computation.model.ecore_plus_structure.Ecore_plus_structurePackage"
            genModel="model/ecore_plus.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated ecore_plus -->
      <parser
            type="ecore_plus_structure"
            class="org.eclipse.efbt.cocalimo.computation.model.ecore_plus_structure.util.Ecore_plus_structureResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ecore_plus -->
      <package
            uri="http://www.eclipse.org/efbt/ecore_plus_logic"
            class="org.eclipse.efbt.cocalimo.computation.model.ecore_plus_logic.Ecore_plus_logicPackage"
            genModel="model/ecore_plus.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated ecore_plus -->
      <parser
            type="ecore_plus_logic"
            class="org.eclipse.efbt.cocalimo.computation.model.ecore_plus_logic.util.Ecore_plus_logicResourceFactoryImpl"/>
   </extension>
</plugin>
