<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated navigation_context -->
      <package
            uri="http://www.eclipse.org/navigation_context"
            class="org.eclipse.efbt.navigation_context.model.navigation_context.Navigation_contextPackage"
            genModel="model/navigation_context.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated navigation_context -->
      <parser
            type="navigation_context"
            class="org.eclipse.efbt.navigation_context.model.navigation_context.util.Navigation_contextResourceFactoryImpl"/>
   </extension>

</plugin>
